@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {    
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./kanye.jpg"); ;
    background-repeat: no-repeat;
    background-size : 100% auto
  }

  h1 {
    color: white;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
  }

  .quoteBox {
    margin: 0 auto;
    padding: 1rem;
    max-width: calc(550px + 2rem);
    position: relative;
    padding: 1rem;
    background-color: hsl(0, 0%, 94%);
    border: 1px solid hsl(0, 0%, 92%);
    border-radius: 10px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: x-large;
    color: rgb(146, 146, 146);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
  }

  button {
    margin-bottom: 20px;
    font-size: x-large;
    color: rgb(146, 146, 146);
    border: 0px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }

  #kanye {
    padding: 6px 8px;
    font-size: 0.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(146, 146, 146);
    border-radius: 0 0 10px 0;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
